body{
    background-color: #5A96BB;
}

hr{
    border-style: none;
    border-top: dotted;
    border-color: lavenderblush;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #66bfbf;
}

h3{
    color: #66bfbf;
}

body{
    font-family: 'Akshar', sans-serif;
    font-size: 16px;
}